header {}

body {
    min-height: 500px;
}

section {
    background-color: aqua;
}

footer {
    width: 100%;
    min-height: 200px;
    background-image: url("../recursos/footerGim_largo.jpg");
    /*agregamos una imagen de fondo */
    background-size: cover;
    /*Reescalar la imagen para ocupar todo el footer */
    background-position: center;
    /* Centrar la imagen */
    background-repeat: no-repeat;
    /*evitamos que se repita la imagen */
}