/*
 */

html {
    max-width: 1000px;
    margin: 0 auto;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: lightgray;
}


/*El header ocupa el 100% del ancho del body*/

header {
    width: 100%;
    display: flex;
    float: left;
    background-color: gray;
}

#banner {
    justify-content: space-between;
    display: flex;
    width: 40%;
}

#logo {
    width: 170px;
    height: 170px;
    position: relative;
}

#logo img {
    padding: 10px;
    resize: both;
    width: 170px;
    height: auto;
    top: 10%;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#nombreGim {
    width: 70%;
    text-align: center;
}

#logNav {
    float: right;
    width: 60%;
    background-color: darkgray;
}

#login {
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    height: 30px;
    width: auto;
}

#login img {
    resize: horizontal;
    max-height: 50px;
}

#logNav nav .navPrin {
    margin-top: 80px;
    display: inline-flex;
    justify-content: center;
}

#logNav nav .navPrin li {
    display: inline-flex;
    list-style: none;
    margin-right: 70px;
}

.navPrin a {
    color: inherit;
    text-decoration: none;
    position: relative;
    display: block;
    padding: 5px;
}

.navPrin a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #b47dcd, #78b6e8, #8eeb85);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.navPrin a:hover::before {
    transform: scaleX(1);
}

section {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 60px;
}

section h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#home {
    display: row;
    width: 90%;
    min-height: 350px;
    background: url("../recursos/footerGim_largo.jpg")center top no-repeat;
    margin-left: auto;
    margin-right: auto;
}

#home p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;
    -ms-transition: -ms-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

#home p:hover {
    background-color: rgb(255, 255, 255);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}


/*Galeria de imagenes, un contenedor general */

#fotoGaleria {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    width: 80%;
}


/*Cada imagen va en un contendor de la misma clase */

.galeria {
    display: flex;
    padding: 5px;
}

.galeria img {
    width: 250px;
    height: 150px;
    object-fit: cover;
}


/*Pie de página.  */

footer {
    color: aliceblue;
    display: flex;
    left: 0px;
    bottom: 0px;
    width: 100%;
    min-height: 200px;
    background: url("../recursos/metal_pattern_1280x800_2673.jpg") center top repeat-y;
    background-size: 100% auto;
    /*agregamos una imagen de fondo */
    background-size: cover;
    /*Reescalar la imagen para ocupar todo el footer */
    background-position: center;
    /* Centrar la imagen */
    background-repeat: no-repeat;
    /*evitamos que se repita la imagen */
}

footer #redes {
    max-width: 45%;
    margin: 5px auto;
    background: rgba(255, 255, 255, 0.164);
}

footer #gim {
    max-width: 45%;
    margin: 5px auto;
    background: rgba(255, 255, 255, 0.164);
}

footer #gim img {
    max-height: 50px;
}


/*Media query para pantallas tablet  */

@media screen and (max-width:800px) {
    body {
        display: flex;
        flex-flow: column;
    }
    #banner {
        display: flex;
        flex-flow: column;
        order: 3;
    }
    section {
        order: 1;
        width: 90%;
    }
    footer {
        display: flex;
        flex-flow: column;
        order: 3;
    }
    footer .rss {
        order: 1;
        width: 90%;
    }
    footer .redes {
        order: 2;
        width: 90%;
    }
    footer .gim {
        order: 3;
        width: 90%;
    }
}


/*Media query para pantallas móviles  */

@media screen and (max-width:400px) {
    body {
        display: flex;
        flex-flow: column;
    }
    section {
        order: 1;
        width: 90%;
    }
    footer {
        order: 2;
        display: flex;
        flex-flow: column;
    }
    footer .redes {
        order: 1;
        width: 90%;
    }
    footer .gim {
        order: 2;
        width: 90%;
    }
}

@media print {
    body {
        background: none;
    }
    #banner {
        margin-left: auto;
        margin-right: auto;
    }
    #logNav {
        display: none;
    }
    footer {
        display: none;
    }
}