/*
 */
body {
    min-height: 1000px;

}

/*El header ocupa el 100% del body,  */
header {
    width: 100%;
    display: flex;
    float: left;
    background-color: gray;
}

#banner {
    justify-content: space-between;
    display: flex;
    width: 40%;
   }

#logo {
    width: 170px;
    height: 170px;
    position: relative;
}

#logo img {
    resize: both;
    width: 170px;
    height: auto;
    top: 10%;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#nombreGim {
    width: 70%;
    text-align: center;
}

#logNav {
    float: right;
    width: 60%;
    background-color: darkgray;
}

#login {
    object-position: top right;
    height: 30px;
    width: auto;
}

#login img {
    resize: horizontal;
}

#logNav nav #navPrin {
    display: inline-flex;
}

#logNav nav #navPrin li {
    display: inline-flex;
    list-style: none;
}

aside {
    width: 80px;
    height: 150px;
    background: url("../recursos/icono/gim_icon.jpg") center center repeat-y;
}

section {
    display: flex;
    width: 100%;
    min-height: 60px;
    background-color: aqua;
}

/*Galeria de imagenes, un contenedor general */
#fotoGaleria{
    display: flex;
    width: 100%;
    min-height: 60px;
    background-color: aqua;

}
/*Cada imagen va en un contendor de la misma clase */
.galeria{
    display: flex;
    width: 350px;
    height: 250px;
    margin-left: 10px;
}

/*Pie de página.  */
footer {
    display: flex;
    left: 0px;
    bottom: 0px;
    width: 100%;
    min-height: 200px;
    background: url("../recursos/metal_pattern_1280x800_2673.jpg") center top repeat-y;
    background-size: 100% auto;
    /*agregamos una imagen de fondo */
    background-size: cover;
    /*Reescalar la imagen para ocupar todo el footer */
    background-position: center;
    /* Centrar la imagen */
    background-repeat: no-repeat;
    /*evitamos que se repita la imagen */
}


/*Media query para pantallas tablet  */
@media screen and (max-width:800px){
    body{
        display: flex;
        flex-flow: column;
    }
    section{
        order: 1;
        width: 90%;
    }

    aside{
        order: 2;
        width: 90%;
    }
    footer{
        display: flex;
        flex-flow: column;
    }
    footer .rss{
        order: 2;
        width: 90%;
    }
    footer .redes{
        order: 2;
        width: 90%;
    }
    footer .gim{
        order: 3;
        width: 90%;
    }
    
}

/*Media query para pantallas móviles  */
@media screen and (max-width:400px){
    body{
        display: flex;
        flex-flow: column;
    }
    section{
        order: 1;
        width: 90%;
    }
    aside{
        display: none;
    }
    footer{
        display: flex;
        flex-flow: column;
    }
    footer .rss{
        order: 2;
        width: 90%;
    }
    footer .redes{
        order: 2;
        width: 90%;
    }
    footer .gim{
        order: 3;
        width: 90%;
    }
}

@media print{
    body{
        background: none;
    }
    #logNav{
        display: none;
    }
    aside{
        display: none;
    }
}