html {
    background: white;
    margin: auto;
    width: 1200px;
}

* {
    margin: 0px;
    padding: 0px;
    background-color: wheat;
    margin-bottom: 5px;
}

/* Ancho fijo de 1190 pixeles */

body {
    width: 1190px;
    background-color: white;
    margin: 0 auto;
    /*flex-wrap: wrap;
    display: inline-flex;*/
}

header {
    width: 590px;
    display: inline-block;
}

/*Estilo de las listas dentro de los navs */

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}

/*El nav principal */

#navPrincipal {
    width: 590px;
    text-align: right;
    float: right;
    padding-right: 10px;
    height: 109px;
}

/*Div del subtitulo */

#subtitulo {
    width: 1190px;
}

/*Nav secundario con las páginas y el idioma */

#navSec {
    width: 690px;
    display: inline-block;
    margin-right: 10px;
}

#pags li {
    background: gray;
    border-radius: 5px;
}

#idioma {
    width: 490px;
    display: inline-block;
    text-align: right;
}

#idioma li {
    display: inline-block;
    margin-right: 15px;
}

/*Div de programa, descripcion y foto */

#program {
    width: 890px;
    float: left;
}

#foto {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

/* Div about */

#about {
    width: 490px;
    margin-right: 10px;
    float: left;
}

/* Div Schedule */

#schedule {
    width: 390px;
    float: left;
}

/*Div del espacio del festival */

#festSpace {
    width: 890px;
    float: left;
    flex-wrap: wrap;
    display: inline-flex;
}

/*Los div llamados cajas*/

.caix {
    width: 290px;
}

/*Registro */
#registro{
    float: right;
}

/*how */
#how{
    float: right;
}
#how li {
    list-style: none;
    
}

/* Who come*/
#come{
    width: 280px;
    float: right;
    padding-left: 10px;
    margin-left: 10px;
}

#come ul{
    padding-left: 40px;
}

#come li {
    list-style-image: url('../img/check.png');
    
}

/*Twitter */